<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Personal Portfolio Website - Html, Css & Javascript</title>
    <link rel="stylesheet" href="../../static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <!--=======Light/Dark theme button=======-->
    <div class="theme-btn flex-center">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>

   

    <!--=======Services section=======-->
   <section class="services section" id="services">
      <div class="container flex-center">
        <h2 class="section-title-02">Proxy Scrapper</h2>
        <div class="content">
          <ul class="service-list">
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-cog"></i>
                <h3>Scrap</h3>
                <a target="_blank" class="btn" href="scrap"> Execute </a>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-search"></i>
                <h3>Verify</h3>
                <a target="_blank" class="btn" href="verify"> Execute </a>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-file-code"></i>
                <h3>Show Proxies</h3>
                <a target="_blank" class="btn" href="show"> Execute </a>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-align-left"></i>
                <h3>Statistics</h3>
                <a target="_blank" class="btn" href=""> Execute </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="get-in-touch sub-section">
      <div class="container">
        <div class="content flex-center">
          <div class="contact-card flex-center">
            <div class="title">
              <h3>Download</h3>
              <h2>Proxies list</h2>
            </div>
            <ul class="contact-list">
              <li>
                <a style="white-space: pre; " href="" class="btn">.pdf  <i class="fas fa-download"></i></a>
                </li>
                <li>
                <a style="white-space: pre; " href="" class="btn">.txt   <i class="fas fa-download"></i></a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <!--=======External scripts=======-->
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/swiper-bundle.min.js"></script>

  </body>
</html>
